<head>
<link rel="stylesheet" type="text/css" href="css/temp.css">
<script src="js/script_head.js"></script>

<title>Simple Chat Server</title>
</head>

<p>
<ul>
  <li><a class="active" href="/home">Home</a></li>
  <li><a href="/login">Login</a></li>
  <li><a href="/register">Register</a></li>
  <li><a href="/discussion">discussion</a></li>
  <li><a href="/management">management</a></li>

</ul>
<div style="text-align: center;"><h2>Simple Chat Server</h2>


<h3><i>Because the usability is more important than the back end for now.</i></h3>

<p>
<img src="img/header.jpg" alt="Some stuff that popped out of tensor flow" height="80%">
</p>

<p>
