<style type="text/css">
  #user-list{
  display: block;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 50px;
  background: #EEE;
  list-style-type: none;
}
</style>

<ul id='users'>
  <li>${users}</li>
</ul>
<form action='/manage' method='post'>
  Username:  <input name="user" type="text" />
</br>
  <input type="radio" name="m" value="mute">mute
  <input type="radio" name="m" value="unmute">unmute
  </br>
  <input type="radio" name="m" value="delete">delete
</br>
  <input value="confirm" type="submit">
</form>
