<style type="text/css">
  #messages-list{
  display: block;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 50px;
  background: #EEE;
  list-style-type: none;
}
</style>
<p> You are ${username} </p>
<p> You are chatting with ${friend} </p>
<ul id='messages-list'>
  <li>${messageslist}</li>
</ul>
<p>
<form action='/message' method='post' onsubmit="return checkForm()">
  This message is sent from:  <input name="sender" type="text" />
</br>
  To: <input name="receiver" type="text" />
</br>
  The content is: <input id="message" name="message" type="text" />
</br>
  <input value="send" type="submit">
</form>

<script src="https://cdn.jsdelivr.net/npm/node-forge@1.0.0/dist/forge.min.js"></script>

<script>
function checkForm() {
    var publicKey = forge.pki.publicKeyFromPem("-----BEGIN PUBLIC KEY-----\n" +
        "MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEA0NnLcLCDUSevd5krC+fG\n" +
        "C3Gv+ohU/Pyq90ZipotTbAhtHGRYHvxDIKDmDsLlVEFVgucCnuASkx74qAZ19Bsh\n" +
        "9qEup0Q/YqI5nLUkgfKd26ZiUxxiUTTMCJY+S1e8qYYi6+r/lNpn1FP5570akr4U\n" +
        "PIM4Nfsba3zutkt8gu4dFnGaAh+EyivD0LoMHYy8VSyJvMeFLIxpKk9aTgJy1El6\n" +
        "CI1PSZj70Jpz/4Lb9G6QT+7o0wzpD6EczLK9UrOvxfKmClGu+jCy9eviKCpH+ktG\n" +
        "+arR51Xlqi9su/UV3g9kRloEB62cFU9nIHhnFH2qqat1gFHnC+w7cEJ8+C9NKXia\n" +
        "kwIDAQAB\n" +
        "-----END PUBLIC KEY-----");
    let msg = document.getElementById('message');
    var encrypted = publicKey.encrypt(msg.value, "RSA-OAEP", {
            md: forge.md.sha256.create(),
            mgf1: forge.mgf1.create()
        });
    msg.value = forge.util.encode64(encrypted);
    return true;
}
</script>

</p>
</center>
